TZ=Europe/Berlin

# Database
SPARKY_FITNESS_DB_NAME=sparkyfitness
SPARKY_FITNESS_DB_USER=sparkyfitness
SPARKY_FITNESS_DB_PASSWORD=change_me

# Application database credentials
SPARKY_FITNESS_APP_DB_USER=sparkyfitness_app
SPARKY_FITNESS_APP_DB_PASSWORD=change_me

# Generate with:
# openssl rand -hex 32
SPARKY_FITNESS_API_ENCRYPTION_KEY=replace_with_generated_key

# Generate with:
# openssl rand -hex 32
BETTER_AUTH_SECRET=replace_with_generated_secret